:root {
	--background-color: #ffffff;
	--text-color: #000000;
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("assets/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
	font-weight: 700;
}


html {
	overflow-x: hidden;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: var(--background-color);
	border-color: var(--text-color);
	color: var(--text-color);
	font-family: 'Neue Montreal', sans-serif;
	font-display: swap;
	line-height: 1.5;
}

a,u {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dashed; /* Add a dashed underline on links */
	border-color: inherit; /* Add a dashed underline on links */
}



.logo {
	margin: 0;
}


.flex {
	display: flex;
	margin-bottom: 2rem;
}

.item + .item {
	margin: 3rem 0;
	border-top: 1px solid var(--text-color);
}

.blog {
	width: 95%;
	margin: auto;
}

.editableContentWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 0px 8px;
	margin-bottom: 2rem;
	border: 1px solid black;
}

.editableRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.editable-title {
	font-weight: 400;
}

.editableContent {
	line-height: 1.0;
	display: block;
	font-size: 25px;
	outline: 0;
	max-width: 100vw;
	padding: 20px;
	background-color: #F0F0F0; /* Set the default background color to white */
	transition: background-color 0.3s; /* Add a smooth transition effect */
	transition: all .2s;
	text-align: center;
  }
  
  .editableContent:focus,
  .editableContent:hover {
	background-color: #dbdbdb; /* Change the background color when focused */
  }
  
  /* Add this CSS to your stylesheet */
.refresh-button {
	background-color: #9DBEFF;
	color: black;
	border: 1px solid;
	border-top: none;
	border-right: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .2s;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .refresh-button:hover ~ .editableContentWrapper {
	border-top-right-radius: 15px;
  }

  .refresh-button:hover {
	background-color: #c9dbff; /* Background color for the button */
	border-bottom-left-radius: 15px;
  }
  
  
  table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

.font-glyphs-list {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.font-glyphs-list li {
	font-size: 1.5rem;
	line-height: 4rem;
	flex-basis: 4rem;	
	flex-shrink: 0;
	border: 1px solid #dddddd;
	/* margin: 0px -1px -1px 0px; */
	text-align: center;
	transition: background-color var(--transition-fast);
}

.font-glyphs-list li:hover {
	border: 1px solid black;
	background-color: rgb(215, 215, 215);
}

.font-glyphs-list.selected {
	margin-top: 4rem;
}

.font-glyphs-list.selected li {
	font-size: 10rem;
	padding: 8rem;
}

.font-detail {
	display: flex;
	justify-content: space-between; /* Align items with space between them */
	gap: 2rem;
	padding: 1rem;

  }
  
  .flex-child {
	flex-basis: 50%; /* Take up 50% of the available space */
  }

  .font {
	margin-bottom: 4rem;
  }


  /* Grid */

.grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: dense;
}

.grid-layout.condensed-grid {
	grid-auto-rows: minmax(25px, auto);
}

.condensed-grid--secondary {
	margin-top: 0;
}

.condensed-grid .grid-item {
	padding: 1rem;
}

.text {
	padding: 1rem;
	padding-top: 1.5rem;
}

.collage {
	filter: invert();
}

.grid-item {
	/* padding: 1rem; */
	position: relative;
	word-wrap: break-word;
	border: 1px solid;
	margin: 8px;
}

.grid-item p {
	padding-top: 1px;
	margin: 0;
}


.grid-item img,
.grid-item video {
	object-fit: cover;
	width: 100%;
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	filter: invert();
	/* mix-blend-mode: exclusion; */
}

a:hover img {
	filter: invert(0);
}


.large-grid .grid-item img {
	height: 100%;
	border-bottom-left-radius: 2px;
	filter: invert();
	border-bottom-right-radius: 2px;
}

.grid-item--link {
	display: flex;
	align-items: center;
}

.span-2 {
	grid-column-end: span 2;
	grid-row-end: span 1;
}

.span-6 {
	grid-column-end: span 6;
	grid-row-end: span 1;
	border-top: none;
	margin-top: 0;
	margin-bottom: 0;
}

.span-6:hover {
	background-color: #f4f400;
	color: #000;
	opacity: 1;
}

.span-6 .text {
	padding: .75rem;
}

.span-6:first-child {
	border-top: 1px dotted;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.span-6:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.span-3 {
	grid-column-end: span 3;
	grid-row-end: span 1;
}

.span-all {
	grid-column-start: 3;
	grid-column-end: -1;
	grid-row-end: span 1;
}